<!DOCTYPE html>
 <style>
    body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
    }

    nav {
      background-color: #333;
      padding: 15px;
      display: flex;
      justify-content: center;
      margin: 10px;
      gap:40px;
    }

    nav a {
      color: white;
      text-decoration: none;
      font-size: 18px;
      transition: 0.3s;
    }

    nav a:hover {
      color: #87CEEB;
      text-shadow: 0px 0px 5px #87CEEB;
    }

    .container {
      display: flex;
      margin: 20px;
      gap: 20px;
    }

    .sidebar {
      width: 30%;
      background-color: white;
      padding: 20px;
      border-radius: 8px;
    }

    .main {
      width: 70%;
      background-color: white;
      padding: 20px;
      border-radius: 8px;
    }

    .features {
      display: flex;
      gap: 20px;
      margin: 20px;
    }

    .feature-box {
      flex: 1;
      padding: 20px;
      border-radius: 8px;
      color: white;
    }

    .feature1 { background-color: #8003; }
    .feature2 { background-color: #333; }

    .feature-box button {
      margin-top: 10px;
      padding: 10px 20px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      background-color: white;
      color: black;
      transition: 0.3s;
    }

    .feature-box button:hover {
      transform: scale(1.05);
    }
  </style>
